body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffebf6 ; /* Light pink background */
    color: #333;
}

header {
    background-color:#c18cc1;/* Pink header */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:#f8f0f8 ;/* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #c18cc1; /* Darker pink on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color:#c18cc1; /* Footer color */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
